body {
    background-color: rgba(33, 158, 188, 1);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Poppins:wght@100&display=swap');

.main-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(100% - 60px);
    background-color: rgba(255, 195, 0, 1);
}

.navbar-header {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    bottom: calc(100% - 60px);
}

.navbar-header p {
    color: rgba(0, 8, 20, 1);
    font-size: 35px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}



#openNavButton {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 1;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 8, 20, 0);
}

#openNavButton img {
    max-width: 60px;
    max-height: 60px;

}


.nav-window {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 8, 20, 0.9);
    color:antiquewhite;
    z-index: 2;
    transition: top 0.5s ease;
}


/* CSS for the blur effect */
.content-wrapper.blur {
    filter: blur(5px); /* Adjust the blur amount as needed */
    transition: filter 1s ease;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 1;
    border: none;
    border-radius: 10px;
    background-color:rgba(255, 195, 0, 0.1);
    padding: 0;
}

.close-button img {
    max-width: 55px;
    max-height: 55px;
}

.nav-window ul {
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-window li {
    margin: 10px 0;
}

.nav-window a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 30px;
    border-radius: 10px;
}

.nav-window a div {
    background-color: rgba(0, 8, 20, 1);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 195, 0, 0.2);
}