body {
    font-family: mandala;
    display: flex;
    background-color: rgba(2, 43, 58, 1);
    margin: 0;
    color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    background-color: rgba(2, 43, 58, 1);
    flex-direction: row;
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    min-height: 500px;
    border-radius: 5px;
}

@font-face {
  font-family: mandala;
  src: url(fonts/mandala.otf);
}

.nav {
    position: fixed;
    width: 50px;
    height: 90%;
    min-height: 500px;
    background-color: rgba(175, 210, 233);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}


.links {
    margin: 15px 5px 15px 5px;
}

.links a img {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10%;
}

.links img:hover {
    background-color: rgba(171, 195, 221,1);
    border-radius: 10%;
}

.nav-img {
    width: 80%;
}

.contact-links {
    position: relative;
    left: 20%;
    max-width: 40%;
    margin: 15px 5px 15px 5px;
}

.content-wrap {
    position: relative;
    width:100%;
    max-height:100%;
    margin-left: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: rgba(0,0,0,1);
    background-color: rgba(225, 229, 242);
}

.header-wrap {
    width: 100%;
    background-color: rgba(31, 122, 140, 1);
    display: flex;
    justify-content: center;

}

.header {
    position: relative;
    width: 95%;
    max-width: 1000px;
    text-align: center;
    src: url(fonts/Mandala Design.otf);
    font-size: 50px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    margin-bottom: 50px;
}

.box-style-one {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background: rgba(191, 219, 247);
    border-radius: 5px;
    font-family: helvetica;
    width: 95%;
    max-width: 1000px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6)
}

.box-style-two {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background: rgba(192, 248, 209, 0.3);
    border-radius: 5px;
    font-family: helvetica;
    width: 95%;
    max-width: 1000px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
}

.left-side {
    flex: 1;
    text-align: justify;
    max-width: 60%;
    min-height: 250px;
    padding: 10px;
}

.right-side {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-imgs {
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
}

.footer-div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
    color: rgba(0,0,0, 0.6);
    font-size: 14px;
    text-align: justify;
}

.footer-info {
    flex: 1;
    max-width: 35%;
    margin-left: 20px;
    margin-right: 20px;
}

.copyright {
    font-size: 10px;
    position: relative;

}

.copyrightdiv {
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end; 
    min-height: 150px;
    text-align: center;
}

.contact-info {
    flex: 1;
    max-width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;

}

.last-contact {
    list-style: none;
    
}

.contact-info .last-contact li a {
    color: rgba(0,0,0, 0.6);
    text-decoration: none;
    display: inline;
    font-size: 18px;
  }


@media (max-width: 1000px) {
    .wrap {
        display: block;
        top: 1%;
        bottom: 0%;
        left: 0%;
        right: 0%;
    }

    .content-wrap {
        position: relative;
        top: 140px;
        margin-left: 10px;
        flex-direction: column;
        width: 96%;
        font-size: 30px;
        padding: 10px;
        border-radius: 5px;
    }

    .header {
        margin-bottom: 50px;
    }

    .box-style-one{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
        flex-direction: column;
        width: 100%;
        font-size: 30px;
        padding: 10px;
    }

   .box-style-two{
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
        flex-direction: column;
        width: 100%;
        font-size: 30px;
        padding: 10px;
    }

    .content-imgs {
        width: 90%;
        max-height: 100%;
        border-radius: 5px;
    }

    .right-side {
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .box-style-one .left-side,
    .box-style-one .right-side,
    .content-wrap .left-side,
    .content-wrap .right-side {
        max-width: 95%;
        margin: 0px;
    }

    .box-style-one .right-side {
        margin-top: 200px;
    }

    .box-style-two .left-side,
    .box-style-two .right-side,
    .content-wrap .left-side,
    .content-wrap .right-side {
        max-width: 95%;
        margin: 0px;
    }

    .box-style-two .right-side {
        margin-top: 200px;
    }

     .nav {
        min-height: 130px;
        position: fixed;
        top: 0;
        left: 0%;
        right: 0%;
        width: 100%;
        height: 130px;
        padding: 0px;
        flex-direction: row;
        justify-content: space-equally;
        align-items: center; /* Add this line */
        background-color: rgba(175, 210, 233);
        box-shadow: 1px 0 1px 1px rgba(0,0,0, 0.2);
    }

    .nav .links {
        padding: 20px;
        margin: 10px;
        display: flex;
    }

    .links a {
        color: #000;

    }
    .nav-img {
        max-width: 60px;
    }

    .nav .contact-links {
        padding: 20px;
        position: relative;
        left: 0;
        max-width: 60%;
    }

   .footer-div {
    margin-bottom: 250px;
   }

   .footer {
    display: block;
    justify-content: center;
    padding: 20px;
   }

   .footer-info {
    position: relative;
    text-align: center;
    top: 10px;
    left: 20%;
    max-width: 60%;
    margin-left: 0;
    margin-right: 0;
   }

   .contact-info {
    position: relative;
    left: 20%;
    bottom: 18px;
    max-width: 56%;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    padding-left: 0px;
    text-align: center;
   }

   .copyrightdiv {
    text-align: center;
   }

   .copyright {
    position: relative;
    text-align: center;
    top: 140px;
    left: 20%;
    max-width: 60%;
   }
}