body {
    background-color: rgba(0, 53, 102, 1);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Poppins:wght@100&display=swap');

.main-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(100% - 85px);
    background-color: rgba(255, 195, 0, 1);
}

.navbar-header {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    bottom: calc(50% - 42.5px);
}

.navbar-header p {
    color: rgba(0, 8, 20, 1);
    font-size: 35px;
    line-height: 85px;
    margin: 0;
    padding: 0;
}



#openNavButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 8, 20, 0);
}

#openNavButton img {
    max-width: 60px;
    max-height: 60px;

}

/* Style for the navigation window */
.nav-window {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 8, 20);
    color:antiquewhite;
    z-index: 2;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color:rgba(255, 195, 0, 0.1);
    border: none;
    border-radius: 10px;
}

.close-button img {
    max-width: 60px;
    max-height: 60px;
}

.nav-window ul {
    width: 90%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-window li {
    margin: 10px 0;
}

.nav-window a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 30px;
    border-radius: 10px;
}

.nav-window a div {
    background-color: rgba(0, 8, 20, 1);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 195, 0, 0.2);
}

/* From here content wrapper */

.content-wrapper {
    position: absolute;
    display: block;
    top: 90px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    color: rgba(255, 255, 230, 0.7);

}

.header-content {
    width: 100%;
    text-align: center;
    overflow-wrap:normal;
    background-color: rgba(0, 8, 20);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-content h2 {
    text-align: center;
    width: 100%;
    top: 20px;
    right: 20px;
}

.header-content p {
    text-align: center;
    width: 200px;
}

.header-content img {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 1px 0 6px 1px rgba(255, 195, 0, 0.2);
}

.divider {
    position: relative;
    left: 10%;
    border: none;
    width: 80%;
    border-top: 1px dotted rgba(255, 195, 0, 0.2); 
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
}

.roadmap-content {
    width: 100%;
    text-align: center;
    overflow-wrap:normal;
    background-color: rgba(0, 8, 20);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.description-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 195, 0, 0.2);

}

.description-box h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.description-box p {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: justify;
    width: 95%;

}

.tick {
    width: 40px;
    padding: 10px;
    border: 0.5px solid rgba(255, 195, 0, 0.1);
    border-radius: 40px 10px 40px 10px;
    margin-bottom: 25px;
}